name: CodeCov

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          cache-environment: true

      - name: Generate report
        env:
          WANDB_MODE: disabled
        run: |
          coverage run -m pytest tests/
          coverage report -m --omit=*/__init__.py
        shell: micromamba-shell {0}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
