name: CodeCov
on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
        cache: "pip"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage
    - name: Generate Report
      env:
        WANDB_MODE: disabled
      run: |
        coverage run -m pytest tests/
        coverage report -m --omit=*/__init__.py
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v2
